config.js
node_modules/
.vscode/
dist/
nohup.out
**/*.env
.venv

# Ignore all __pycache__ directories even in nested directories
# https://git-scm.com/docs/gitignore#_pattern_format
**/__pycache__/

*.jpg

*.crt

*.key

*/build