transformers
torch
requests
Pillow
fastapi
uvicorn[standard]
python-multipart
websockets
azure-cognitiveservices-vision-computervision
opencv-python
matplotlib
mediapipe
python-dotenv  # Updated from dotenv
kornia
openai
azure-cognitiveservices-speech 
azure-identity
aiohttp
openai[realtime]
