transformers
torch
requests
Pillow
flask
azure-cognitiveservices-vision-computervision
opencv-python
matplotlib
mediapipe
dotenv
kornia
openai
azure-cognitiveservices-speech 
flask-socketio
python-socketio
eventlet
azure-identity
aiohttp
openai[realtime]